Proposal: Use <package>/<service> instead of <package>.<service> in URLs

This obviously overlaps with #55, but the discussion there focused on removal of the `/twirp` prefix. I'd like a new issue to concentrate discussion on just the `.` to `/` switch.

The switch from a `.` to delimit package and service towards `/` as delimiter is really consequential and needs its own clearer discussion. Let's work out whether it's a good idea.

## Arguments in favor

### Path-based routing in other infrastructure

Lots of intermediary proxies, load balancers, caches, and so on will naturally split a URL on `/` characters. Using the `/` character will make it easier to configure those tools. For example, a load balancer could more simply route requests to the right backend if it knew that the second path component is the service name.

## Arguments against

### Long-term cruft in generated APIs

We are removing the `/twirp` prefix, and instead permitting user-defined prefixes.

Migrating a server from v5 to v6 is easy if this is the only change. To support v5 clients, you do this:
```go
mux := http.NewServeMux()
mux.Handle(HaberdasherPathPrefix, habderdasher)
mux.Handle("/twirp" + HaberdasherPathPrefix, http.StripPrefix("/twirp", haberdasher))
```

If we change the `.` to `/` too, though, we need to export an additional path prefix const. We'll need these:
```go
const (
  HaberdasherPathPrefix = "/twirp.example/Haberdasher/"
  HaberdasherV5PathPrefix = "/twirp/twirp.example.Haberdasher/"
)
```
And the user will need to use the right one in their mux:

```go
mux := http.NewServeMux()
mux.Handle(HaberdasherPathPrefix, habderdasher)
mux.Handle(HaberdasherV5PathPrefix, haberdasher)
```

Generated code would need to route these v5 requests correctly in addition to the new v6 requests. We'd need backwards compatibility shims in generated code, probably forever, and we would need to keep the extra exported const around forever.

### Route ambiguity when package is unset

Proto files need not set `package`. What do we do in those cases? @rhysh outlined the way this could go wrong. For illustration, suppose you had these two services:
```protobuf
package Foo

service Bar {
  rpc Handle(Req) returns (Resp);
}
```
and 
```protobuf
// package is never specified

service Foo {
  rpc Bar(Req) returns (Resp);
}
```

What are the routes? If we leave `.`, the routes are:
```
  /Foo.Bar/Handle -> Bar service's Handle method
  /Foo/Bar        -> Foo service's Bar method
```

If we change them to `/`, though, they are:
```
  /Foo/Bar/Handle -> Bar service's Handle method
  /Foo/Bar        -> Foo service's Bar method
```

With `.`, it's obvious how you route requests. Requests prefixed with `/Foo.Bar/` go to the `Bar` service; requests prefixed with `/Foo/` go to the `Foo` service.

But with `/`, it's not clear. The two services collide.


cc @Xe, @mocax, @wora, @rhysh - our discussion in #55 was a little unclear because there were really two proposals there - removing the prefix and changing to a `/` instead of a `.` between package and service. I'd like to concentrate discussion on just `/` in one place here.

In v6, the BaseURL is allowed to have a path prefix, so there is no need to
get rid of "/twirp" per se. Anyone who wants to have a prefix is free to
include it in the base URL. It does mean when a client moves from v5 to v6,
the base URL changes. I don't think it is a big deal.

The change from . to / is a breaking change for this issue. I think we all
agreed on it. One nice side effect is the URL looks different from gRPC,
and it is much easier to track API version since API package is often the
same as API version.

Overall, I think we have a solid design.


I will vote for keeping the "." syntax, because this is how I see the advantages and disadvantages of implementing the `. -> /` change.

Advantages of using a "/" separator instead of "."
  * Looks nicer when described like this: `Base/Package/Service/Method`. But this could be misleading, because package is optional.
  * It is different from gRPC routes. Although I don't clearly see the advantage of this; only the very trained eye will be able to tell the difference at a glance, and I don't see the advantage of keeping a Twirp and a gRPC service both in the same Base-URL, only differentiated by the "." vs "/" syntax.
  * Easier to write routing rules by proxy middleware, but only if there is no package, or the package has no dots, and the Base-URL also has no dots. And this would only be an advantage if the proxy needs to differentiate between package and service, which I think should be a very rare scenario.  I would like to see an example of this, because if the Service is uniquely identified by "package.Service" then routing can simply be done based on "package.Service" (instead of just "Service").

Disadvantages:
  * Non backwards-compatible. As mentioned above, service implementations will need to explicitly handle both new and old paths. Keeping the current "." allows users to just add the "/twirp" prefix on the Base-URL to deal with compatibility.
  * It is a harder to tell if a URL has a package or not.
 For example, do you think this URL maps to a service with a package?
 `blahblah.com/api/myserviceapi/CoolAPI/CreateStuff`(`blahblah.com/api/CoolAPI/CreateStuff`). 
 * It can cause service path conflicts. For example, given the service A: `package.Foo` and B: `Foo` (no package), where is this URL mapping? `http://fooservice.com/package/Foo/Method`? is it mapping to service A, or service B with the Base-URL `http://fooservice.com/package`? With the "." separator this ambiguity is not possible.



I think one of the reasons why we started this change in the first place is because the current Path specification separates "Package" from "Service". But I think it would be more useful to keep them together as "Service-Full-Name". This will also reinforce the idea that Package + Service should uniquely identify your service (independently of the full url).

This definition should make it clear:
```
URL := BaseURL "/" ServiceFullName "/" Method
```
Then we describe each component:
 * **BaseURL**: URL path where the Twirp service is mounted. Should only contain a URL scheme, authority, and path, as defined in RFC 3986 Section 3. For example: "http://mydomain.com/twirp", "https://localhost:8080.
 * **ServiceFullName**: Service name prefixed by package, as defined in the Protobuf file. This is `package.Service` if the package is defined, or just `Service` if not. For example "my.package.FooService".
  * Package: A valid package name as defined by ...(link to protobuf spec).
  * Service: A valid service name as defined by ...(link to protobuf spec).
 * **Method**: One of the service methods, as defined in the Protobuf file. It must be a valid method name as defined by ...(link to protobuf spec).

Given the simplicity of this path definition, we could even avoid mentioning BNF syntax in the document and show the route like this:
```
POST {BaseURL}/{ServiceFullName}/{Method}
```
If we use BNF syntax, we should probably give a full description, including valid package, service and method names.

I think @marioizquierdo's previous comments make a lot of sense.  One of the big advantages twirp has is its simplicity.  A straightforward mapping of URL to service method certainly keeps in the spirit of this goal.

So yes, please keep the "." separator for package and service.  Keeping things simple, explicit, and unambiguous is a big advantage in my opinion.

I think discussion on this is clear and conclusive. We'll keep things as they were.

@spenczar Is there a rough timeline on when v6 is going to be released ?
https://github.com/twitchtv/twirp/milestone/3

@mohanraj-r Not at this time, really. I don't want to rush the streaming API. I think it's important to get it really right.

For now, you can use the `v6_prerelease` branch (https://github.com/twitchtv/twirp/tree/v6_prerelease) if you really want this URL change and are willing to live on the edge.